<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="aboutme"></ion-back-button>
    </ion-buttons>
    <h5>Get to know me</h5>
  </ion-toolbar>
  


    <ion-card>
      <img src="assets/doctora.jpg" class="center">
      <ion-card-header>
        <h2 style="color:rgb(2, 0, 105);"> To be a Surgeon </h2>
      </ion-card-header>
      <ion-card-content>
              In this world, becoming a doctor is a prestigious career. 
              Doctors give hope to people suffering from severe and chronic disease, 
              which is why I want to be a good doctor. I wish to help the impoverished 
              residents who are in need of medicine. I aspire to assist individuals that 
              do not have access to medical care and I really want to give them hope. 
      </ion-card-content>
    </ion-card>

      <ion-card>
      <img src="assets/photography.jpg" class="center">
      <ion-card-header>
        <h2 style="color:rgb(2, 0, 105);"> Photography </h2>
      </ion-card-header>
      <ion-card-content>
        I've loved taking photography since I was a child because a picture is worth a 
        thousand words. Because photography captures a scene that lasts forever, 
        it keeps memories alive and affluent. Each day seems to be something worth bearing in mind, 
        whether it is a past event or a present one.
      </ion-card-content>
    </ion-card>
      
        <ion-card>
        <img src="assets/sunset.jpg" class="center">
        <ion-card-header>
          <h2 style="color:rgb(2, 0, 105);"> A Sunset </h2>
        </ion-card-header>
        <ion-card-content>
          I enjoy watching stunning sunsets and occasionally capture them. 
          I think I've never felt like I could express that feeling accurately. 
          When I watch a beautiful sunset, I feel a sense of serenity and contentment in my heart. 
          It is something I, for one, really need in my life.
        </ion-card-content>
      </ion-card>
    
        <ion-card>
          <img src="assets/travel.jpg" class="center">
          <ion-card-header>
            <h2 style="color:rgb(2, 0, 105);">Traveling </h2>
          </ion-card-header>
          <ion-card-content>
            Traveling, since all great people actually believe, is possibly the only way to discover the world and its cultures. 
            I enjoy traveling because it provides me with a sense of discovery and freedom.
          </ion-card-content>
        </ion-card>
          
          <ion-card>
            <img src="assets/coffee.jpg" class="center">
            <ion-card-header>
             <h2 style="color:rgb(2, 0, 105);"> Drinking Coffee </h2>
            </ion-card-header>
            <ion-card-content>
              I could talk to someone for hours over coffee, whether it's merely chit-chat or deep and serious talks. 
              Coffee's warmth and liveliness serve as the spark for any and all interactions.
              Not only do I enjoy the aroma of coffee, but I really love learning about the many cultures of coffee.
            </ion-card-content>
          </ion-card>