<ion-header>
  <ion-navbar color ="light">
   
  </ion-navbar>
</ion-header>


<ion-content class ="card-background-page">
  <br>
  <ion-grid>
  <ion-card>
    <img src ="assets/ciejoy.jpg" class="center">
    <ion-card-title>FIND FACTS ABOUT ME</ion-card-title>
    <h4>I don't know what my future holds, but I do know who holds my future. </h4>
 
  </ion-card>
  <br>
   
  <ion-button expand="full" shape="round" href ="personal">Personal Information</ion-button>
  <br>
  <br>
  <ion-button expand="full"  shape="round" href ="interests">Interests</ion-button>
  <br>
  <br>
  <ion-button expand="full" shape="round" href ="gettoknow">Get to know me more</ion-button>
  <br>
  <br>